html {
    font-size: 100%;
    background-color: lightgrey;
}

body {
    font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    font-size: 1rem;
}

.question-input-box {
    width: 200px;
    border-radius: 5px;
    border: 2px solid black;
}

.question-input-box:focus {
    outline: 0;
    border: 2px solid #2196f3;
}

.output {
    display: flex;
    width: 250px;
    margin-top: 5px;
    font-size: 1rem;
}

.ouputText {
    width: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: lightgray;
}

.emoji {
    display: inline-block;
    font-size: 24px;
}
